nav {
    background-color: #3f51b5 !important;
    padding: 0;
}

nav img {
    height: 64px;
    margin-right: 20px;
}

nav div.container-fluid {
    padding: 0;
}

.nav-item a {
    height: 64px;
    width: 100%;
    padding: 20px;
}

.spacer {
    width: 100% !important;
}
@media (max-width: 350px){
    #navLogo {
        display: none;
    }
    #navSELText {
        margin-left: 10px;
    }
}
