<mat-accordion class="">
    <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
                @if (editView && createState) {
                    <span class="textColor">Nouvelle news</span>
                } @else if (editView) {
                    <span class="textColor">Edition news</span>
                } @else {
                    <span class="textColor">{{ panelTitle }}</span>
                }
            </mat-panel-title>
            <mat-panel-description class="panelDescription">
                <span></span>
                <span></span>
                @if (authenticated && !editView && panelId) {
                    <i (click)="edit($event)" class="bi bi-pencil-fill editIcon"></i>
                }
            </mat-panel-description>
        </mat-expansion-panel-header>
        @if (editView) {
            <p>
                <mat-form-field class="textColor" class="addNewsInput">
                    <mat-label class="textColor">Titre</mat-label>
                    <input
                        #titleInput
                        appCustomMatInputAutofocus
                        [formControl]="titleFormControl"
                        [errorStateMatcher]="matcher"
                        name="panelTitle"
                        type="text"
                        class="textColor"
                        matInput
                        placeholder=""
                    />
                    @if (titleFormControl.hasError('required')) {
                        <mat-error>Le titre ne doit pas être vide</mat-error>
                    }
                </mat-form-field>
            </p>
        }

        @if (editView) {
            <p>
                <mat-form-field class="textColor" class="percent80Width">
                    <mat-label class="textColor">Date</mat-label>
                    <input
                        #dateInput
                        [formControl]="dateFormControl"
                        [errorStateMatcher]="matcher"
                        name="panelDate"
                        type="date"
                        class="textColor"
                        matInput
                        placeholder=""
                    />
                    @if (dateFormControl.hasError('invalidDate')) {
                        <mat-error>La date doit se trouver entre l'an 2000 et l'an 2100</mat-error>
                    }
                </mat-form-field>
                <button mat-stroked-button (click)="recetDate()" class="percent20Width" color="primary">Effacer</button>
            </p>
        } @else {
            @if (panelDate) {
                <p>
                    <span>Date : </span>
                    <span>{{ panelDate }}</span>
                </p>
            }
        }

        @if (editView) {
            <p>
                <mat-form-field class="textColor" class="percent80Width">
                    <mat-label class="textColor">Heure</mat-label>
                    <input
                        #timeInput
                        [formControl]="timeFormControl"
                        [errorStateMatcher]="matcher"
                        name="panelTime"
                        type="time"
                        class="textColor"
                        matInput
                        placeholder=""
                    />
                </mat-form-field>
                <button mat-stroked-button (click)="recetTime()" class="percent20Width" color="primary">Effacer</button>
            </p>
        } @else {
            @if (panelTime) {
                <p>
                    <span>Heure : </span>
                    <span>{{ panelTime }}</span>
                </p>
            }
        }

        @if (editView) {
            <p>
                <mat-form-field class="textColor" class="addNewsInput">
                    <mat-label class="textColor">Lieu</mat-label>
                    <input
                        #locationInput
                        [formControl]="locationFormControl"
                        [errorStateMatcher]="matcher"
                        name="panelLocation"
                        type="text"
                        class="textColor"
                        matInput
                        placeholder=""
                    />
                </mat-form-field>
            </p>
        } @else {
            @if (panelLocation != '') {
                <p>
                    <span>Lieu : </span>
                    <span>{{ panelLocation }}</span>
                </p>
            }
        }

        @if (editView) {
            <p>
                <mat-form-field class="textColor" class="addNewsInput">
                    <mat-label class="textColor">Prix</mat-label>
                    <input
                        #priceInput
                        [formControl]="priceFormControl"
                        [errorStateMatcher]="matcher"
                        name="panelPrice"
                        type="text"
                        class="textColor"
                        matInput
                        placeholder=""
                    />
                </mat-form-field>
            </p>
        } @else {
            @if (panelPrice != '') {
                <p>
                    <span>Prix : </span>
                    <span>{{ panelPrice }}</span>
                </p>
            }
        }

        @if (editView) {
            <p>
                <mat-form-field class="textColor" class="addNewsInput">
                    <mat-label class="textColor">Description</mat-label>
                    <textarea
                        #descriptionInput
                        [formControl]="descriptionFormControl"
                        [errorStateMatcher]="matcher"
                        name="panelDescription"
                        class="textColor"
                        matInput
                        placeholder=""
                    ></textarea>
                    @if (descriptionFormControl.hasError('required')) {
                        <mat-error>La description ne doit pas être vide</mat-error>
                    }
                </mat-form-field>
            </p>
        } @else {
            <p>
                <span>{{ panelDescription }}</span>
            </p>
        }

        @if (createState) {
            <button mat-flat-button color="warn" (click)="cancel()" class="percent50Width">Annuler</button>
            <button
                mat-flat-button
                [disabled]="addBtnDisabled"
                (click)="add()"
                class="percent50Width successColorBg text-white"
            >
                Ajouter
            </button>
        }
        @if (editState) {
            <button mat-flat-button color="warn" (click)="cancel()" class="percent50Width">Annuler</button>
            <button mat-flat-button [disabled]="editBtnDisabled" (click)="update()" class="percent50Width successColorBg text-white">Editer</button>
        }

        @if (displayAddError) {
            <mat-error id="addError">Une erreur est survenue lors de l'ajout de la news</mat-error>
        }
        @if (displayAddError) {
            <mat-error id="editError">Une erreur est survenue lors de l'edition de la news</mat-error>
        }
    </mat-expansion-panel>
</mat-accordion>
