<app-navbar></app-navbar>
<div class="pageView presentationPageDisplay">
    <div id="firstPage">
        <div class="contactContentDiv1">
            <span id="contactText">Contacte nous</span>
        </div>
        <div class="contactContentDiv2">
            <div>
                <i class="bi bi-envelope-at-fill"></i>
                <span>022 309 15 95</span>
            </div>
            <div>
                <i class="bi bi-telephone-fill"></i>
                <a href="mailto:seldumanege@gmail.com">seldumanege&#64;gmail.com</a>
            </div>
            <div>
                <i class="bi bi-geo-alt-fill"></i>
                <span>Rue Julienne-Piachaud 4, 1204 Genève</span>
            </div>
        </div>
    </div>
</div>
<div id="formDiv">
    
</div>
<app-footer></app-footer>
