app-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 46.63px;
}
.presentationPageDisplay {
    display: flex;
    flex-direction: column;
}

.fieldContactForm {
    width: 100%;
    min-width: 350px;
    max-width: 700px;
}

#contactForm {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
}

#contactFormTitle {
    margin-bottom: 50px;
    font-size: 20px;
}
.textColor {
    color: green;
}

#connexionButton{
    width: 100%;
    min-width: 350px;
    max-width: 700px;
    background-color: green;
    color: white;
}

.generalMat-error {
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}