<app-navbar></app-navbar>
<div class="pageView presentationPageDisplay">
    <div id="content">
        <form id="contactForm">
            <span id="contactFormTitle" class="textColor">Connexion administrateur</span>

            <mat-form-field class="fieldContactForm">
                <mat-label class="textColor">Adresse mail</mat-label>
                <input
                    [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher"
                    name="email"
                    appCustomMatInputAutofocus
                    type="email"
                    class="textColor"
                    matInput
                    placeholder="Ex: alice.dupont@gmail.com"
                />
                @if (emailFormControl.hasError('required')) {
                    <mat-error>L'adresse mail ne doit pas être vide pour se connecter</mat-error>
                } @else if (emailFormControl.hasError('email')) {
                    <mat-error>L'adresse mail doit être valide pour se connecter</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="fieldContactForm textColor">
                <mat-label class="textColor">Mot de passe</mat-label>
                <input
                    [formControl]="passFormControl"
                    [errorStateMatcher]="matcher"
                    name="pass"
                    type="password"
                    class="textColor"
                    matInput
                    placeholder=""
                />
                @if (passFormControl.hasError('required')) {
                    <mat-error>Le mot de passe ne doit pas être vide</mat-error>
                }
            </mat-form-field>

            <button
                type="submit"
                id="connexionButton"
                mat-flat-button
                color="primary"
                (click)="connect()"
            >
                Se connecter
            </button>

            @if (invalidLoginError) {
                <mat-error class="generalMat-error">
                    Oups, il semble que la combinaison de cette adresse mail et de ce mot de passe soit invalide...
                </mat-error>
            }
            @if (loginErrorDisplay) {
                <mat-error class="generalMat-error">
                    Oups, il semble qu'il y aie eu un soucis lors de la tentative de connexion
                </mat-error>
            }
        </form>
    </div>
</div>
<app-footer></app-footer>
