app-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.presentationPageDisplay {
    display: flex;
    flex-direction: column;
}
span {
    margin-top: 200px;
    color: green;
    font-size: 18px;
}
@media (min-width: 600px) {
    span {
        font-size: 20px;
    }
}
@media (min-width: 800px) {
    span {
        font-size: 27px;
    }
}
button {
    margin-top: 50px;
    font-size: 15px;
    background-color: green !important;
    color: white !important;
}
.deconnexionText {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    width: 80vw;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
}
