<app-navbar></app-navbar>
<div class="pageView presentationPageDisplay">
    <div class="contentCenterVertical">
        <span class="selText">SEL du Manège</span>
    </div>
</div>
<div class="semiPageView textColor" id="joinDivText">
    <div class="">
        <p id="intro" class="textColor">
            <span>Tu cherches quelqu'un pour réparer ton vélo ?</span>
            <span>Quelqu'un pour arroser tes plantes pendant les vacances ?</span>
            <span>Quelqu'un pour t'aider à faire ta déclaration d'impôts ?</span>
            <span>Quelqu'un pour te conseiller pour un voyage, t'aider à faire une réservation ?</span>
            <span>Ou tout autre menu service, sans dépenser un sou ?</span>
            <span>Et tu es d'accord en échange de rendre un service toi aussi ?</span>
        </p>
        <a mat-flat-button id="joinButton" href="https://www.google.com">Rejoins-nous</a>
    </div>
    <div id="secondDiv">
        <p class="textColor2">
            Le SEL du Manège est un système d'échanges de connaissances et de savoir-faire qui fonctionne sans aucune contrepartie financière. L'idée est simple : chacun peut offrir ses compétences ou son temps, et en retour, bénéficier de l'aide ou du savoir d'un autre membre du groupe. Aider et se faire aider, donner et recevoir, sont au cœur de ce projet. Ces valeurs fondamentales - savoir aider, savoir donner, savoir recevoir - sont les piliers de toute civilisation.
        </p>
        <img id="shema" src="assets/shema-sel.webp" alt="Shema" />
        <p class="textColor2">
            Pourquoi ne pas tenter de remettre l'humain au centre de nos échanges ? Dans un monde où tout semble monétisé, le SEL du Manège propose une alternative humaine et solidaire. Ce groupe, inspiré des Systèmes d'Échanges Locaux (SEL), se veut un espace où chacun peut s'épanouir en partageant ce qu'il sait faire, tout en bénéficiant des savoirs et compétences des autres.
        </p>
        <p class="textColor2">
            En rejoignant le SEL du Manège, vous participez à une initiative qui valorise l'entraide, la coopération, et la richesse humaine. C'est l'occasion de recréer du lien, de renforcer notre tissu social, et de vivre des échanges plus authentiques et enrichissants.
        </p>
    </div>
</div>
<app-footer></app-footer>
