app-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
.verticalSpacer {
    height: 30px;
    width: 100%;
}
.contentCenterVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.title {
    font-size: 20px;
}
@media (min-width: 600px) {
    .title {
        font-size: 25px;
    }
}
@media (min-width: 700px) {
    .title {
        font-size: 30px;
    }
}
@media screen and (min-width: 1001px) {
    .title {
        font-size: 40px;
        margin-bottom: 50px !important;
    }
}
#title {
    display: flex;
    flex-wrap: wrap;
}
#title span {
    margin-left: 10px;
    margin-bottom: 10px;
}
#titleSeparator {
    width: 60%;
    height: 2%;
    background-color: #333;
    margin-bottom: 50px;
}
#presentationDesc {
    display: flex;
    justify-content: center;
}
#descItem1Div,
#descItem2Div {
    min-width: 300px;
    width: 45%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#descItem1Div {
    display: flex;
    justify-content: flex-end;
}
#descItem2Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#descItem2Div > * {
    width: 300px;
}
.apage {
    height: 100%;
}
.descSeparator {
    margin: 0px 20px;
}

.presentationPageDisplay {
    display: flex;
    flex-direction: column;
}
.presentationPageDisplay > div {
    flex-grow: 1;
}
.textColor {
    color: green;
}
.textColor2 {
    color: white;
}
#joinDivText {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
#joinDivText p {
    min-width: 300px;
    font-size: 25px;
    line-height: 1.5;
    padding: 20px;
}
#joinDivText > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#secondDiv {
    background-color: rgb(3, 99, 3);
    margin-top: 70px;
    padding-top: 70px;
}
@media (min-width: 600px) {
    #secondDiv {
        text-align: justify;
        padding: 10vw;
    }
}

#joinButton {
    background-color: rgb(207, 207, 0);
    color: white;
    width: 70vw;
    min-width: 280px;
    border: 2px, solid, black;
    max-width: 869px;
}

.selText {
    color: white;
    font-size: 18vw;
    text-align: center;
    line-height: 1;
    margin-top: 30px;
    font-family: 'UploadedGtFlexaBold' !important;
    text-shadow: 4px 4px 0 green, -4px -4px 0 green, -4px 4px 0 green, 4px -4px 0 green;
}
@media (min-width: 1000px) {
    .selText {
        font-size: 13vw;
    }
}
@media (min-width: 1500px) {
    .selText {
        font-size: 11vw;
    }
}

#shema {
    width: 100vw;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
}


@media (min-width: 900px) {
    #shema {
        max-width: 700px;
    }
}
@media (min-width: 1200px) {
    #shema {
        max-width: 900px;
    }
}

#intro {
    display: flex;
    flex-direction: column;
}
#intro span {
    margin-bottom: 20px;
}
