<app-navbar></app-navbar>
<div class="pageView presentationPageDisplay">
    <div class="contentCenterVertical">
        <div class="verticalSpacer"></div>
        <div id="title">
            <span class="title textColor">SEL du Manège :</span>
            <span class="title textColor">Un Système d'Echanges Local</span>
        </div>
        <hr id="titleSeparator">
        <div id="presentationDesc">
            <div id="descItem1Div"><img id="imgExchangeSheme" src="assets/exchange_sheme.jpg" alt="Exchange sheme"></div>
            <div class="vr descSeparator toHideSmallScreen"></div>
            <div id="descItem2Div">
                <p class="textColor">Le SEL du Manège est un système d'échange local qui offre une alternative au système monétaire et économique traditionnel.</p>
                <p class="textColor">Vous pouvez ainsi mettre à profit vos compétences pour accumuler des points, que vous pourrez ensuite échanger contre des services offerts par la communauté.</p>
            </div>
        </div>
    </div>
</div>
<div class="semiPageView textColor" id="joinDivText">
    <p class="textColor">Imaginez un monde où la richesse se mesure en temps offert, en compétences partagées, et en liens tissés au sein d'une communauté vibrante. C'est là que réside la magie du SEL du Manège. En tant que participant, vous avez l'opportunité d'offrir vos talents uniques, vos connaissances, ou tout simplement votre temps, pour collecter des précieuses unités de SEL.</p>
    <a mat-flat-button color="primary" id="joinButton" href="https://www.google.com">Nous rejoindre</a>
</div>
<app-footer></app-footer>
