.pannelDescription > span {
    margin-left: 20px;
}
p {
    text-align: justify;
    color: green;
}
.textColor {
    color: green;
}

.addNewsInput {
    width: 100%;
}

.percent80Width {
    width: 80%;
}

.percent20Width {
    width: 20%;
}

.percent50Width {
    width: 50%;
}

.successColorBg {
    background-color: #29c01b;
}
#addError,
#editError,
#deleteError {
    text-align: center;
    margin-top: 10px;
    color: red;
}

.editIcon,
.deleteIcon {
    padding: 0 10px;
}

.editIcon:hover,
.deleteIcon:hover {
    color: black;
    transition: 0.5s;
}
