/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
}
* {
    font-family: UploadedGtFlexaMeduim !important;
}
@font-face {
    font-family: 'UploadedRobotoRegular';
    src:
        url('./assets/fonts/roboto/roboto-regular.woff2') format('woff2'),
        url('./assets/fonts/roboto/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UploadedRobotoBold';
    src:
        url('./assets/fonts/roboto/roboto-bold.woff2') format('woff2'),
        url('./assets/fonts/roboto/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UploadedGtFlexaMeduim';
    src:
        url('./assets/fonts/gt-flexa/gt-flexa-meduim.woff2') format('woff2'),
        url('./assets/fonts/gt-flexa/gt-flexa-meduim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UploadedGtFlexaBold';
    src:
        url('./assets/fonts/gt-flexa/gt-flexa-extended-bold.woff2') format('woff2'),
        url('./assets/fonts/gt-flexa/gt-flexa-extended-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.pageView {
    min-height: 100%;
    padding-top: 46.63px;
    background-image: url('./assets/presentation-bg.webp');
    background-size: cover;
    background-position: center;
}
.semiPageView {
    min-height: 50%;
}
.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
    flex: 0 0 auto;
}
