/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
}
* {
    font-family: UploadedAlfaSlabOneRegular !important;
}
@font-face {
    font-family: 'UploadedAlfaSlabOneRegular';
    src:
        url('./assets/fonts/alfa-slab-one/alfa-slab-one-regular.woff2') format('woff2'),
        url('./assets/fonts/alfa-slab-one/alfa-slab-one-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.pageView {
    min-height: 100%;
    padding-top: 46.63px;
    background-image: url('./assets/presentation-bg.webp');
    background-size: cover;
    background-position: center;
}
.semiPageView {
    min-height: 50%;
}
.right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
    flex: 0 0 auto;
}
