<app-navbar></app-navbar>
<div class="pageView presentationPageDisplay">
    <div id="content">
        @if (authenticated) {
            <button (click)="addNews()" mat-flat-button id="addNewsBtn">Ajouter une news</button>
        }

        @if (displaySuccesAddNews) {
            <div id="addNewsSuccess" class="alert alert-success" role="alert">News ajoutée</div>
        }
        @if (displaySuccesEditNews) {
            <div id="editNewsSuccess" class="alert alert-success" role="alert">News editée</div>
        }
        @if (displaySuccesDeleteNews) {
            <div id="deleteNewsSuccess" class="alert alert-success" role="alert">News supprimée</div>
        }

        @if (displayCreateNews) {
            <app-news-element
                (newsAddSuccess)="newsAddedSuccess()"
                (cancelEvent)="newNewsCancelled()"
                class="addNews"
            ></app-news-element>
        }
        <app-news-element-list
            (newsEditSuccess)="newsEditedSuccess()"
            (newsDeleteSuccess)="newsDeletedSuccess()"
        ></app-news-element-list>
    </div>
</div>
<app-footer></app-footer>
