app-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 64px;
}
.presentationPageDisplay {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/news_background.jpg');
    background-size: cover;
    background-position: center;
}
app-news-element-list {
    width: 80vw;
    min-width: 400px;
}

#addNewsBtn {
    width: 80vw;
    min-width: 400px;
    margin-top: 30px;
}

.addNews {
    width: 80vw;
    min-width: 400px;
    margin-top: 10px;
}
