app-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.presentationPageDisplay {
    display: flex;
    flex-direction: column;
}
app-news-element-list {
    width: 80vw;
    min-width: 300px;
}

#addNewsBtn {
    width: 80vw;
    min-width: 300px;
    margin-top: 30px;
    background-color: green;
    color: white;
}

.addNews {
    width: 80vw;
    min-width: 300px;
    margin-top: 10px;
}

#addNewsSuccess {
    text-align: center;
    margin-top: 10px;
    width: 80vw;
    min-width: 300px;
}
